__pycache__/*
.idea/*
models/*
*_exp*/*
data/*
Data/*
datasets/audit.zip
datasets/audit_lr
datasets/grid
datasets/iris
datasets/ionosphere
datasets/breast_cancer
datasets/glass_identification
datasets/audit
yt_entropy_unsup/*
mitr_unsup/*
exps/*
*_unsup/*
*_sup/*
iono/*
audit/*
*_rand/*
iono_noise/*
reef/*
